<main>
  <h1>Exibindo resultado de busca por "Covid 19"</h1>

        <div class="container">
            <div class="row">
              <card></card>
              
            </div>
          </div>        

    </main>
    <section>
        <h2>Categorias</h2>
        <p>Doenças</p>
        <p>Doenças</p>
        <p>Doenças</p>
        <p>Doenças</p>
        <h2>Procurando alguma noticia?</h2>
        <form action="/buscar" method="GET">
            <input type="search" name="q" placeholder="Pesquisar...">
          </form>
          
    </section>
<search-button></search-button>